<section>
    <div class="container mt-4">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6 ">
                <form action="/admin/edit-products/{{product._id}}" method="post" class="pt-3" id="reg-form"
                    enctype="multipart/form-data">
                    <div class=" text-center main1-3">
                        <span class="span1">EDIT</span>
                        <span class="span2">PRODUCTS</span>
                    </div>
                    <div class="form-group">
                        <label for="">PRODUCT NAME</label>
                        <input type="name" class="form-control" name="productName" value="{{product.productName}}" />
                    </div>
                    <div class="form-group mt-3">
                        <label for="category">Select Category</label><br>
                        <select class="custom-select tm-select-accounts" id="category" name="category">
                            {{#each category}}
                            <option value="{{this._id}}" name="category">{{this.category}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <label for="">DESCRIPTION</label>
                        <input type="name" class="form-control" value="{{product.description}}" name="description" />
                    </div>
                    <div class="form-group mt-3">
                        <label for="">BRAND</label>
                        <input type="name" class="form-control" value="{{product.brand}}" name="brand" />
                    </div>
                    <div class="form-group mt-3">
                        <label for="">price</label>
                        <input type="name" class="form-control" value="{{product.price}}" name="price" />
                    </div>
                    <div class="form-group mt-3">
                        <label for="">QUANTITY</label>
                        <input type="name" class="form-control text-uppercase" value="{{product.quantity}}"
                            name="quantity" />
                    </div>
                    <div class="form-group mt-3">
                        <label for="">FEATURES</label>
                        <input type="name" class="form-control text-uppercase" value="{{product.features}}"
                            name="features" />
                    </div>
                    <button class="btn mt-3 mx-3 "><a href="/admin/edit-image/{{product._id}}"
                            style="text-decoration:none;" class="text-light">EDIT IMAGE</a></button>
                    <button type="submit" class="btn mt-3" onclick="return validateForm()"> ADD PRODUCT</button><br>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="form-group-123"></div>